* {
    margin: 0;
    padding: 0;
}
header {
    border: 2px solid black;
    height: 50px;
    position: sticky;
}
footer {
    border: 2px solid black;
    height: 50px;
    clear: right;
}
#main {
    border: 2px solid black;
    height: 800px;
    width: 75%;
    float: right;
}